html
  head
      title= settings.title
      link(rel='stylesheet', href='./css/main.css')
      link(rel='stylesheet', href='./css/bootstrap.css')
      script(src='./js/jquery.min.js')
      script(src='./js/bootstrap.min.js')
      script(src='./js/moment.js')
  body(ng-app="bunny")
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Bunny Cron
    .container(ng-controller="JobsCtrl")
      .starter-template
        h2 Scheduled Jobs

        table.table.jobs
          thead
            tr
              th
              th TASK
              th FREQUENCY
              th LAST RUN
              th NEXT RUN
              th RESULT
          tbody
            tr(ng-show="jobs == null")
              td(colspan="5", align="center") {{jobs}} Not found scheduled, Please add to Cronfile
            tr(ng-repeat="job in jobs")
              td
                .animate-switch-container(ng-switch='', on='job.status')
                  .animate-switch(ng-switch-when='failed')
                    span.status.failed.glyphicon.glyphicon-exclamation-sign
                  .animate-switch(ng-switch-when='completed') 
                    span.status.success.glyphicon.glyphicon-ok-circle
                  .animate-switch(ng-switch-when='timeout') 
                    span.status.warning.glyphicon.glyphicon-warning-sign(data-toggle="tooltip",data-placement="top", title="Job has terminate by bunnycron from process timeout")
                  .animate-switch(ng-switch-default='')

              td.command
                span {{job.command}} 
                img(src="img/preloader.gif", width=30, height=10, ng-show="job.is_run")
              td.schedule {{job.schedule}}
              td.last_run
                a(href='#', ng-show="{{job.completed_at}}", data-toggle='tooltip', title=" {{job.completed_at | date:'MMM dd H:mm Z' }}", ng-if="job.completed_at") {{ job.completed_at | toUTCDate  }}
              td.next_run
                a(href='#', data-toggle='tooltip', title="{{ job.next_run | date:'MMM dd H:mm Z' }} ") {{job.next_run | toUTCDate}}
              td.log(ng-click="updateLog(job.id);showModal(job.logs.length)")
                span {{job.logs[0].data.substr(0,100)}} <strong>...</strong>
              
        div.modal.fade.modal-logs(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
          div.logs(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
            div.modal-dialog.modal-lg
              div.modal-content
                ul.list-group
                  li.list-group-item(ng-repeat="log in logs track by $index", ng-controller="LogCtrl")
                    div.panel(ng-class="panelCls")
                      div.panel-heading {{log.completedAt | toUTCDate }}
                      div.panel-body.pandel-danger( ng-bind-html="log.data | to_trusted")

  script(src='./js/angular.min.js')
  script(src='./js/main.js')
