html
  head
      title= settings.title
      link(rel='stylesheet', href='./css/main.css')
      link(rel='stylesheet', href='./css/bootstrap.css')
      script(src='./js/jquery.min.js')
      script(src='./js/bootstrap.min.js')
      script(src='./js/moment.js')
  body(ng-app="bunny")
  button(class="btn btn-primary", data-toggle="modal", data-target=".bs-example-modal-lg") Large modal
    div.modal.fade.bs-example-modal-lg.logs(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
      div.logs(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        div.modal-dialog.modal-lg
          div.modal-content
            ul.list-group
              li.list-group-item(ng-repeat="log in logs track by $index")
                span Modal

  script(src='./js/angular.min.js')
  script(src='./js/main.js')
